.admin {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.admin_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  flex: 1;
}

.admin_left_reservas_confirmadas {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.admin_left_reservas_confirmadas_title {
  display: flex;
  min-width: 300px;
  margin-left: 20px;
  color: #2e4da7;
  font-family: "Readex Pro", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.admin_left_reservas_confirmadas_content {
  display: flex;
  width: 100%;
  justify-content: center;
}

.admin_left_reservas_solicitadas {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.admin_left_reservas_solicitadas_title {
  display: flex;
  min-width: 300px;
  margin-left: 20px;
  color: #2e4da7;
  font-family: "Readex Pro", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.admin_left_reservas_solicitadas_content {
  display: flex;
  width: 100%;
  justify-content: center;
}

.admin_left_add_reserva {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 20px;
}

.admin_left_add_reserva_title {
  margin-left: 20px;
  color: #2e4da7;
  font-family: "Readex Pro", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.admin_left_add_reserva_inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.admin_left_add_reserva_inputs_inputarea {
  display: flex;
  height: 40px;
  width: 350px;
  justify-content: center;
  margin-bottom: 10px;
}
.admin_left_add_reserva_inputs_inputarea > select {
  width: 200px;
  box-shadow: 0 1px 5px 1px rgb(64 60 67 / 16%);
  border-radius: 7px;
  border: none;
}

.admin_left_add_reserva_inputs_inputarea > select:focus {
  outline: none;
}

.admin_left_add_reserva_buttonarea {
  display: flex;
  justify-content: center;
  width: 100%;
}

.admin_left_add_reserva_buttonarea_button {
  display: flex;
  text-align: center;
  background: #2e4da7;
  border-radius: 7px;
  color: #fff;
  padding: 10px 15px;
  margin-top: 10px;
  cursor: pointer;
  margin-right: 20px;
  transition: all ease 0.3s;
}

.admin_left_add_reserva_buttonarea_button:hover {
  filter: brightness(1.25);
}

.admin_mid {
  width: 3px;
  height: 95%;
  background: #2e4da7;
}

.admin_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
