@keyframes option_anim {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(0.85);
  }
}

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home_top {
  display: flex;
  height: 100vh;
  width: 100%;
  z-index: 9;
}

.home_top_image {
  display: flex;
  height: 100%;
  flex: 1;
  background-image: url("../public/background.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.home_top_left {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #fff;
  width: 500px;
}

.home_top_left_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: #1f1f1f;
}

.home_top_left_access {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home_top_left_access_label {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin-left: 55px;
  transition: all ease 0.3s;
}

.home_top_left_access_inputarea {
  border: solid 2px cornflowerblue;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.home_top_left_access_inputarea_input {
  padding: 10px 15px;
  color: #070707;
  width: 275px;
  text-align: center;
  border: none;
  border-radius: 4px;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
}

.home_top_left_access_inputarea_input:focus {
  outline: none;
}

.home_top_left_access_button {
  color: #f2f4ff;
  padding: 10px 15px;
  text-align: center;
  width: 100px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: cornflowerblue;
  cursor: pointer;
  transition: all ease 0.3s;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  border: solid 2px cornflowerblue;
}

.home_top_left_access_button:hover {
  filter: brightness(1.25);
}

.home_top_left_code {
  padding: 10px 55px;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.home_top_left_options {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.home_top_left_options_option {
  color: #1f1f1f;
  padding: 0px 15px;
  text-align: center;
  width: 300px;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
}

.home_top_left_options_option_label {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
  transition: all ease 0.3s;
  cursor: pointer;
}

.home_top_left_options_option_label::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #1f1f1f;
  transform: scale(0.85);
  transform-origin: 0% 0%;
}

.home_top_left_options_option_label:hover:before {
  animation-name: option_anim;
  animation-duration: 0.75s;
}

.home_top_left_buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.home_top_left_buttons_button {
  height: 45px;
  width: 45px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  margin: 15px 0px;
}

.home_top_left_buttons_button_image:hover {
  opacity: 0.6;
  transition: all ease 0.3s;
}

.home_mid {
  padding: 25px;
  display: flex;
  width: 100%;
  background: #fff;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
}

.home_mid_service {
  width: 350px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  justify-content: center;
  border-radius: 10px;
  height: 250px;
  background: #fff;
}

.home_mid_service_label {
  color: #1f1f1f;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-top: 50px;
  text-align: center;
}

.home_bottom {
  height: 100vh;
}

.home_footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px 20px;
  background: #1f1f1f;
}

.home_footer > p {
  color: #fff;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
}

.home_footer_img {
  display: flex;
  align-items: center;
  color: #fff;
}
