@keyframes option_anim {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(0.85);
  }
}

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home_top {
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: url("../public/background.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.home_top_image {
  display: flex;
  height: 100%;
  flex: 1;
}

.home_top_left {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #fff;
  align-items: center;
  width: 500px;
}

.home_top_left_logo {
  width: 50%;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: #000;
}

.home_top_left_access {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home_top_left_access_label {
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 13px;
  width: 360px;
  transition: all ease 0.3s;
  margin: 10px 0px;
}

.home_top_left_access_inputarea {
  box-shadow: 0 1px 5px 1px rgb(64 60 67 / 16%);
  border-radius: 4px;
  transition: all ease-in-out 0.3s;
}

.home_top_left_access_inputarea_input {
  background: #fff;
  width: 310px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-family: "Readex Pro", sans-serif;
  font-size: 15px;
}

.home_top_left_access_inputarea_input:focus {
  outline: none;
}

.home_top_left_access_button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  cursor: pointer;
  transition: all ease 0.3s;
  margin-left: 10px;
}

.home_top_left_access_button:hover {
  filter: brightness(0.75);
}

.home_top_left_code {
  display: flex;
  padding: 10px 0px;
  justify-content: center;
  font-family: "Readex Pro", sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.home_top_left_code_link {
  display: flex;
  width: 360px;
}

.home_top_left_options {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.home_top_left_options_option {
  color: #2e4da7;
  padding: 0px 15px;
  text-align: center;
  width: 300px;
  font-family: "Readex Pro", sans-serif;
  font-size: 15px;
}

.home_top_left_options_option_label {
  font-weight: 400;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
  transition: all ease 0.3s;
  cursor: pointer;
}

.home_top_left_options_option_label::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #2e4da7;
  transform: scale(0.85);
  transform-origin: 0% 0%;
  margin-top: 3px;
}

.home_top_left_options_option_label:hover:before {
  animation-name: option_anim;
  animation-duration: 0.75s;
}

.home_top_left_buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.home_top_left_buttons_button {
  height: 45px;
  width: 45px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  margin: 15px 0px;
  transition: all ease 0.3s;
}

.home_top_left_buttons_button:hover {
  filter: brightness(0.75);
}

.home_top_left_buttons_button_image:hover {
  opacity: 0.6;
}

.home_mid {
  display: flex;
  flex-direction: row;
  width: 100%;

  align-items: center;
  height: 100vh;
  background-image: url("../public/background.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.home_mid_left {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  background: #fff;
  justify-content: space-around;
}

.home_mid_right {
  display: flex;
  width: 500px;
  height: 100%;
}

.home_mid_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home_mid_title_label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Readex Pro", sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: #070b36;
  margin-top: 65px;
}

.home_mid_title_label::after {
  justify-content: center;
  content: "";
  width: 75px;
  height: 3px;
  background-color: #070b36;
  margin-top: 25px;
}

.home_mid_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.home_mid_services1 {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.home_mid_services2 {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.home_mid_service {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  justify-content: center;
}

.home_mid_service_label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #070b36;
  font-family: "Readex Pro", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-top: 25px;
  text-align: left;
}

.home_mid_service_label::before {
  margin-bottom: 25px;
  content: "";
  width: 50px;
  height: 3px;
  background-color: #070b36;
}

.home_bottom {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_bottom_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home_bottom_title_label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Readex Pro", sans-serif;
  font-size: 35px;
  font-weight: 400;
  margin-top: 50px;
}

.home_bottom_title_label::after {
  justify-content: center;
  content: "";
  width: 75px;
  height: 3px;
  background-color: #1f1f1f;
  margin-top: 25px;
}

.home_bottom_description {
  width: 800px;
  display: flex;
  flex-direction: column;
  margin: 50px;
  justify-content: center;
  flex: 1;
  font-family: "Readex Pro", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: justify;
}

.home_bottom_parceiros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #1f1f1f;
  font-family: "Readex Pro", sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.home_bottom_parceiros::before {
  content: "";
  width: 100%;
  background-color: #1f1f1f;
  height: 2px;
  transform: scale(0.9);
}

.home_bottom_parceiros_imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px;
}

.home_bottom_parceiros_imgs_img {
  padding: 0px 15px;
}

.home_footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px 20px;
  background: #1f1f1f;
}

.home_footer > p {
  color: #fff;
  font-family: "Readex Pro", sans-serif;
  font-size: 15px;
}

.home_footer_img {
  display: flex;
  align-items: center;
  color: #fff;
}
