.home {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home_top {
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: url("../public/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9;
}

.home_top_left {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #1f1f1f;
  width: 500px;
}

.home_top_left_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: #f2f4ff;
}

.home_top_left_access {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home_top_left_access_label {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin-left: 55px;
  transition: all ease 0.3s;
}

.home_top_left_access_inputarea_input {
  padding: 10px 15px;
  color: #070707;
  width: 275px;
  text-align: center;
  border: none;
  border-radius: 4px;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
}

.home_top_left_access_inputarea_input:focus {
  outline: none;
}

.home_top_left_access_button {
  color: #f2f4ff;
  padding: 10px 15px;
  text-align: center;
  width: 100px;
  margin-left: 20px;
  border-radius: 4px;
  background: cornflowerblue;
  cursor: pointer;
  transition: all ease 0.3s;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
}

.home_top_left_access_button:hover {
  filter: brightness(1.25);
}

.home_top_left_code {
  padding: 10px 55px;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.home_top_left_options {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.home_top_left_options_option {
  color: #f2f4ff;
  padding: 10px 15px;
  text-align: center;
  width: 300px;
  margin-top: 15px;
  border-radius: 4px;
  background: cornflowerblue;
  cursor: pointer;
  transition: all ease 0.3s;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
}

.home_top_left_options_option:hover {
  filter: brightness(1.25);
}

.home_top_left_buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.home_top_left_buttons_button {
  height: 45px;
  width: 45px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  margin: 15px 0px;
}

.home_top_left_buttons_button_image {
  opacity: 0.7;
}

.home_top_left_buttons_button_image:hover {
  opacity: 1;
  transition: all ease 0.3s;
}

.home_mid {
  padding: 25px;
  display: flex;
  width: 100%;
  background: #f2f4ff;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}

.home_mid_service {
  width: 300px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(210, 210, 210);
  height: 250px;
  background: #fff;
}

.home_mid_service_label {
  color: #1f1f1f;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-top: 50px;
  text-align: center;
}

.home_bottom {
  height: 100vh;
}
